//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../layout/layout


block append head
    link(href='css/home.css', rel='stylesheet', type='text/css')


block content

    h2 hello world!
    
    mixin basicLink('Click Me', 'http://www.google.com', '_blank')