/* MIXINS HERE */

ellipsis(lines)
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp lines
    -o-text-overflow ellipsis
    text-overflow ellipsis
    height auto
    overflow hidden