/* GLOBAL VARIABLES */
$bg-color   = #5985b1

$size-desktop   = 1300px
$main-column    = 700px

/* COLOR VARIABLES */
$aqua           = #00F5FF
$blue           = #017cd1
$gray-blue      = #a0b1bd
$darker-blue    = #1a1c27

/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000
$medium-gray    = #7f8b94
$light-gray     = #f9fafb
$dark-gray      = #3c3839
$deep-gray      = #a0b1bc

/* FONTS */
$font-normal        = 'Lato', sans-serif
$font-wt-light      = 300
$font-wt-regular    = 400
$font-wt-bold       = 700
$font-wt-extrabold  = 900